.loading {
  @include transition(all 0.2s ease-in-out);
  @include border-bottom-radius(5px);
  @include padding(em(22) em(32));
  text-align: center;
  background: palette(gray, lightest);
  border: $default-border;
  position: fixed;
  top: -110px;
  left: 48%;
  z-index: 9999;
  opacity: 0;

  &__animation {
    @include animation(cssload-spin 950ms infinite linear);
    margin-top: em(5);
  }

  &--slide-down {
    @include transform(translateY(100px));
    opacity: 1;
  }
}
