//Section intros
.masthead {

  &__heading {
    font-weight: 400;
    font-size: em($base-font-size + 9);
    color: palette(gold);
    margin-bottom: em(25) !important;
    text-transform: uppercase;
    border-bottom:1px solid palette(gold);
    padding-bottom:em(10);
    text-transform:uppercase;
  }

  
}
