.media-object {
  @include clearfix;
  padding-bottom: em($section-padding);
  margin-bottom: em($section-padding);
  border-bottom: $default-border;

  &:last-child {
    border-bottom: none;
  }

  &__media {
    @include span-columns(4);

    img {
      width: 100%;
    }
  }

  &__content {
    @include span-columns(7);
    @include shift(1);

    button {
      @include margin(em($section-padding / 2) em(5) null null);
    }
  }

  &__subhead {
    display: block;
    color: palette(blue, bright);
    font-weight: 200;
    font-size: $base-font-size + px;
  }
}
