.assignment-video-player {
  margin-bottom: em(40);

  &__video {
    text-align: center;
    video {
      margin-top: em(30);
      border: 1px solid;
      border-color: lighten(palette(gray),50%);
      width: 640px;
      height: 360px;
    }
  }

  &__buttons {
    text-align: center;
    margin-top: 15px;

    i {
      margin: auto;
      background-repeat: no-repeat no-repeat;
      display: inline-block;
      vertical-align: middle;
      fill: currentColor;
      height: 42px;
      width: 21px;
      font-size: 20px;
    }
  }

  &__video-controls {
    margin: em(10);
    z-index: 20;
    line-height: 56px;
    min-width: 0;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background-clip: padding-box;
    overflow: hidden;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
    transition-property: background-color, box-shadow, -webkit-transform;
    transition-property: background-color, box-shadow, transform;
  }
}
