.login {
  @include media($small-down) {
    @include padding(null em($section-padding));
  }

  text-align: center;

  &__col-1 {
    @include media($xlarge-up) {
      @include span-columns(5);
      @include padding(em($section-padding) 8% em($section-padding) 5%);
      border-right: $default-border;
    }

    @include media($xxlarge-up) {
      padding-left: 0;
    }

    @include media($small-down) {
      padding-bottom: em($section-padding);
    }
  }

  &__col-2 {
    text-align: center;
    padding: 0;

    @include media($xlarge-up) {
      @include span-columns(7);
      @include padding(em($section-padding) null );
    }
  }

  &__brand {
    margin-bottom: em(35);
  }

  &__form {
    @include media($xlarge-up) {
      max-width: 395px;
    }
  }

  &__utility {
    color: palette(blue);
    margin-top: em(20);
    font-size: $base-font-size - 2 + px;
  }
}
