//   $$$$$$\            $$\       $$\        $$$$$$\                                           $$\       $$\
//  $$  __$$\           \__|      $$ |      $$  __$$\                                          \__|      $$ |
//  $$ /  \__| $$$$$$\  $$\  $$$$$$$ |      $$ /  $$ |$$\    $$\  $$$$$$\   $$$$$$\   $$$$$$\  $$\  $$$$$$$ | $$$$$$\   $$$$$$$\
//  $$ |$$$$\ $$  __$$\ $$ |$$  __$$ |      $$ |  $$ |\$$\  $$  |$$  __$$\ $$  __$$\ $$  __$$\ $$ |$$  __$$ |$$  __$$\ $$  _____|
//  $$ |\_$$ |$$ |  \__|$$ |$$ /  $$ |      $$ |  $$ | \$$\$$  / $$$$$$$$ |$$ |  \__|$$ |  \__|$$ |$$ /  $$ |$$$$$$$$ |\$$$$$$\
//  $$ |  $$ |$$ |      $$ |$$ |  $$ |      $$ |  $$ |  \$$$  /  $$   ____|$$ |      $$ |      $$ |$$ |  $$ |$$   ____| \____$$\
//  \$$$$$$  |$$ |      $$ |\$$$$$$$ |       $$$$$$  |   \$  /   \$$$$$$$\ $$ |      $$ |      $$ |\$$$$$$$ |\$$$$$$$\ $$$$$$$  |
//   \______/ \__|      \__| \_______|       \______/     \_/     \_______|\__|      \__|      \__| \_______| \_______|\_______/
//
//
//

$column: golden-ratio(1em, 3);  // Column width
$gutter: golden-ratio(3em, 1);  // Gutter between each two columns
$grid-columns: 12;
$max-width: em(1328);           // Max-width of the outer container
$disable-warnings: true;
